* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url("/pic/pexels-felicity-tai-7966005.jpg");
  background-size: cover;
}
header {
  height: 100px;
  width: 100%;
  text-align: center;
  border: 1px solid black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: large;
  background-color: rgb(238, 157, 37);
  line-height: 100px;
  margin-bottom: 50px;
}
.Menu {
  width: 30px;
  padding: 50px;
  cursor: pointer;
}
.Menu_side {
  height: 30px;
  text-align: center;
  cursor: pointer;
  font-size: large;
  font-weight: 600;
  padding-left: 50;
}
.Menu :hover {
  color: rgb(233, 14, 14);
}

main {
  width: 55%;
  margin-left: 10%;
  height: 495px;
  background-color: aqua;
  text-align: center;
  float: left;
  /*border: 1px solid black;*/
}
aside {
  width: 25%;
  height: 495px;
  background-color: bisque;
  float: left;
}
.header_side {
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
}
.paragraph_side {
  width: 100%;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
}
footer {
  float: left;
  width: 100%;
  height: 50px;
  text-align: center;
  margin-top: 40px;
  background-color: azure;
  border: 1px solid black;
}
.pic_main img {
  width: 100%;
}
